<div class="accordion__item js-accordion-item">
  <div class="accordion-header js-accordion-header">
    <div class="button green-button toggle products-menu-button">
      <span class="button-text">Products</span><span class="caret">></span>
    </div>
  </div>
<div class="accordion-body js-accordion-body">
  <div class="accordion-body__contents">

    <ul class="mobile-accordion-ul">
      {% if page.active == "mml-simulator" %}
      <li class="title-item">
        <a class="submenu-button submenu-green-button toggle" href="/mml-simulator">
          <span class="button-text">MML Simulator</span><span class="caret">></span>
        </a>
      </li>
      {% else %}
      <li class="title-item">
        <a class="submenu-button submenu-green-button" href="/mml-simulator">
          <span class="button-text">MML Simulator</span><span class="caret hidden-caret">></span>
        </a>
      </li>
      {% endif %}
      {% if page.active == "calculators" %}
      <li class="title-item">
        <a class="submenu-button submenu-green-button toggle" href="/calculators">
          <span class="button-text">Calculators</span><span class="caret">></span>
        </a>
      </li>
      {% else %}
      <li class="title-item">
        <a class="submenu-button submenu-green-button" href="/calculators">
          <span class="button-text">Calculators</span><span class="caret hidden-caret">></span>
        </a>
      </li>
      {% endif %}
      {% if page.active == "perfect-body" %}
      <li class="sub-item">
        <a class="submenu-button submenu-green-button toggle" href="/perfect-body">
          <span class="button-text">Perfect Body</span><span class="caret">></span>
        </a>
      </li>
      {% else %}
      <li class="sub-item">
        <a class="submenu-button submenu-green-button" href="/perfect-body">
          <span class="button-text">Perfect Body</span><span class="caret hidden-caret">></span>
        </a>
      </li>
      {% endif %}
      {% if page.active == "body-mass-index" %}
      <li class="sub-item">
        <a class="submenu-button submenu-green-button toggle" href="/body-mass-index">
          <span class="button-text">Body Mass Index</span><span class="caret">></span>
        </a>
      </li>
      {% else %}
      <li class="sub-item">
        <a class="submenu-button submenu-green-button" href="/body-mass-index">
          <span class="button-text">Body Mass Index</span><span class="caret hidden-caret">></span>
        </a>
      </li>
      {% endif %}
      {% if page.active == "calories-burned" %}
      <li class="sub-item">
        <a class="submenu-button submenu-green-button toggle" href="/calories-burned">
          <span class="button-text">Calories Burned</span><span class="caret">></span>
        </a>
      </li>
      {% else %}
      <li class="sub-item">
        <a class="submenu-button submenu-green-button" href="/calories-burned">
          <span class="button-text">Calories Burned</span><span class="caret hidden-caret">></span>
        </a>
      </li>
      {% endif %}
      {% if page.active == "counters" %}
      <li class="title-item">
        <a class="submenu-button submenu-green-button toggle" href="/counters">
          <span class="button-text">Counters</span><span class="caret">></span>
        </a>
      </li>
      {% else %}
      <li class="title-item">
        <a class="submenu-button submenu-green-button" href="/counters">
          <span class="button-text">Counters</span><span class="caret hidden-caret">></span>
        </a>
      </li>
      {% endif %}
      {% if page.active == "calorie-counter" %}
      <li class="sub-item">
        <a class="submenu-button submenu-green-button toggle" href="/calorie-counter">
          <span class="button-text">Calorie Counter</span><span class="caret">></span>
        </a>
      </li>
      {% else %}
      <li class="sub-item">
        <a class="submenu-button submenu-green-button" href="/calorie-counter">
          <span class="button-text">Calorie Counter</span><span class="caret hidden-caret">></span>
        </a>
      </li>
      {% endif %}
      {% if page.active == "nutrition-counter" %}
      <li class="sub-item">
        <a class="submenu-button submenu-green-button toggle" href="/nutrition-counter">
          <span class="button-text">Nutrition Counter</span><span class="caret">></span>
        </a>
      </li>
      {% else %}
      <li class="sub-item">
        <a class="submenu-button submenu-green-button" href="/nutrition-counter">
          <span class="button-text">Nutrition Counter</span><span class="caret hidden-caret">></span>
        </a>
      </li>
      {% endif %}
      {% if page.active == "reminders" %}
      <li class="title-item">
        <a class="submenu-button submenu-green-button toggle" href="/reminders">
          <span class="button-text">Reminders</span><span class="caret">></span>
        </a>
      </li>
      {% else %}
      <li class="title-item">
        <a class="submenu-button submenu-green-button" href="/reminders">
          <span class="button-text">Reminders</span><span class="caret hidden-caret">></span>
        </a>
      </li>
      {% endif %}
      {% if page.active == "water-drink-reminder" %}
      <li class="sub-item">
        <a class="submenu-button submenu-green-button toggle" href="/water-drink-reminder">
          <span class="button-text">Water Drink</span><span class="caret">></span>
        </a>
      </li>
      {% else %}
      <li class="sub-item">
        <a class="submenu-button submenu-green-button" href="/water-drink-reminder">
          <span class="button-text">Water Drink</span><span class="caret hidden-caret">></span>
        </a>
      </li>
      {% endif %}
      {% if page.active == "products" %}
      <li class="title-item">
        <a class="submenu-button submenu-green-button toggle" href="/products">
          <span class="button-text">See all products</span><span class="caret">></span>
        </a>
      </li>
      {% else %}
      <li class="title-item">
        <a class="submenu-button submenu-green-button" href="/products">
          <span class="button-text">See all products</span><span class="caret hidden-caret">></span>
        </a>
      </li>
      {% endif %}
    </ul>
  </div>
  </div><!-- end of accordion body -->
</div><!-- end of accordion item -->
